
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



:root{
   --color-primario: #194973;
   --color-secundario: #a5d9f4;
   --color-negro: #343a40;
   --color-blanco: #e9ecef;
   --altura_header: 80px;
   --padding_left_right: 2rem;
   --ancho_maximo: 1200px;
}

 /* RESET */
*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER */

header{
   height: var(--altura_header);
   background: var(--color-primario);
   padding: 0 50px;
   color: #FFFDF0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

a{
   text-decoration: none;
}

ol,ul{
   list-style: none;
}

.navbar{
   height: 100%;
   display: flex;
}

.logo a{
   text-transform: uppercase;
   color: var(--color-blanco);
   font-weight: 800;
   font-size: 25px;
}

.logo a:hover{
   color: var(--color-secundario);
}



/* .menu a{
   color: var(--color-blanco);
   text-transform: uppercase;
   padding: 0 10px;
   transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
   font-size: 30px;
   cursor: pointer;
   display: none;
   transition: 0.4s;
}

.mostrar-menu{
   order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
   color: var(--color-secundario);
}

#check{
   display: none;
} */

/* BANNER */

#banner {
   padding: 0 50px;
   background-image: url(../img/img1.jpg);
   height: 60vh;
   background-size: cover;
   background-position: center;
}

#banner::before{
   content: '';
   background: rgb(30, 55, 78, 0.6);
   position: absolute;
   width: 100%;
   height: 60vh;
   left: 0;
}

.contenido-banner {
   position: relative;
   color: var(--color-blanco);
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}


.contenido-banner h3{
   font-size: 30px;
   font-weight: 600;
   padding: 10px 0;
}

.boton-empezar{
   text-decoration: none;
   color: var(--color-blanco);
   border: 1px solid var(--color-primario);
   padding: 10px 30px;
   align-self: baseline;
   transition: all 0.4s;
}

.boton-empezar:hover{
   background: #27567070;
}







/* RESPONSIVE */

@media(max-width: 768px){
   /* HEADER */
   .mostrar-menu,
   .esconder-menu{
      display: block;
   }

   .menu{
      position:fixed;
      width: 100%;
      height: 100vh;
      background: var(--color-primario);
      left: 0;
      right: -100%;
      top: 0;
      text-align: center;
      padding: 100px 0px;
      z-index: 100;
      transition: 0.8s ease;
   }

   .menu a{
      display: block;
      padding: 20px;
   }

   .esconder-menu{
      position: absolute;
      top: 40px;
      right: 40px;
   }
   
   #check:checked ~ .menu{
      right: 0;
   }
}

